
VS-Code/Side-Projects/Image-recognition/Training-data
VS-Code/PoP/pop-9/pop-9-2/obj/Debug/net8.0/pop-9-2.AssemblyInfoInputs.cache
VS-Code/PoP/pop-9/pop-9-2/obj/Debug/net8.0/pop-9-2.AssemblyInfo.fs
VS-Code/PoP/pop-8/pop-8-1/obj/Debug/net8.0/pop-8-1.AssemblyInfoInputs.cache
VS-Code/PoP/pop-8/pop-8-1/obj/Debug/net8.0/pop-8-1.AssemblyInfo.fs
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfo.fs
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfo.fs
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfo.fs
.fake
VS-Code/Pop/assignment3/src/asteroids/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
VS-Code/Pop/assignment3/src/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
VS-Code/Pop/pop-6/src/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.fs
VS-Code/Pop/pop-7/pop-7-1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
VS-Code/Pop/pop-8/pop-8-1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
VS-Code/Pop/pop-9/pop-9-2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
.DS_Store
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfo.fs
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfo.fs
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfo.fs
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfoInputs.cache
VS-Code/PoP/pop-8/pop-8-1/obj/Debug/net8.0/pop-8-1.AssemblyInfo.fs
VS-Code/PoP/pop-8/pop-8-1/obj/Debug/net8.0/pop-8-1.AssemblyInfoInputs.cache
VS-Code/PoP/pop-9/pop-9-2/obj/Debug/net8.0/pop-9-2.AssemblyInfo.fs
VS-Code/PoP/pop-9/pop-9-2/obj/Debug/net8.0/pop-9-2.AssemblyInfoInputs.cache
.DS_Store
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfo.fs
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.assets.cache
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/asteroids.deps.json
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/asteroids.runtimeconfig.json
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/asteroids.xml
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/FSharp.Core.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/Newtonsoft.Json.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/testhost.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/xunit.abstractions.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/xunit.assert.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/xunit.core.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/xunit.execution.dotnet.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/xunit.runner.visualstudio.testadapter.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/cs/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/de/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/es/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/fr/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/it/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ja/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ko/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pl/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pt-BR/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ru/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/tr/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hans/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hant/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/asteroids/obj/asteroids.fsproj.nuget.dgspec.json
VS-Code/PoP/assignment3/src/asteroids/obj/asteroids.fsproj.nuget.g.props
VS-Code/PoP/assignment3/src/asteroids/obj/asteroids.fsproj.nuget.g.targets
VS-Code/PoP/assignment3/src/asteroids/obj/project.assets.json
VS-Code/PoP/assignment3/src/asteroids/obj/project.nuget.cache
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.fsproj.AssemblyReference.cache
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.fsproj.CoreCompileInputs.cache
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.fsproj.FileListAbsolute.txt
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.fsproj.Up2Date
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.xml
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/asteroids.deps.json
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/asteroids.runtimeconfig.json
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/asteroids.xml
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/canvas.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/FSharp.Core.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/mothApp
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/mothApp.deps.json
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/mothApp.runtimeconfig.json
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/Newtonsoft.Json.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/SixLabors.Fonts.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/SixLabors.ImageSharp.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/SixLabors.ImageSharp.Drawing.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/testhost.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/xunit.abstractions.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/xunit.assert.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/xunit.core.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/xunit.execution.dotnet.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/xunit.runner.visualstudio.testadapter.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/cs/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/de/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/es/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/fr/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/it/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ja/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ko/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pl/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pt-BR/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ru/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/runtimes/linux-x64/native/libSDL2.so
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/runtimes/osx-arm64/native/libSDL2.dylib
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/runtimes/osx-x64/native/libSDL2.dylib
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/runtimes/win-x64/native/SDL2.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/runtimes/win-x86/native/SDL2.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/tr/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hans/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hant/FSharp.Core.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
VS-Code/PoP/assignment3/src/obj/mothApp.fsproj.nuget.dgspec.json
VS-Code/PoP/assignment3/src/obj/mothApp.fsproj.nuget.g.props
VS-Code/PoP/assignment3/src/obj/mothApp.fsproj.nuget.g.targets
VS-Code/PoP/assignment3/src/obj/project.assets.json
VS-Code/PoP/assignment3/src/obj/project.nuget.cache
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/apphost
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.fsproj.CoreCompileInputs.cache
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.fsproj.FileListAbsolute.txt
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.fsproj.Up2Date
.DS_Store
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfo.fs
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.assets.cache
