
VS-Code/Side-Projects/Image-recognition/Training-data
VS-Code/PoP/pop-9/pop-9-2/obj/Debug/net8.0/pop-9-2.AssemblyInfoInputs.cache
VS-Code/PoP/pop-9/pop-9-2/obj/Debug/net8.0/pop-9-2.AssemblyInfo.fs
VS-Code/PoP/pop-8/pop-8-1/obj/Debug/net8.0/pop-8-1.AssemblyInfoInputs.cache
VS-Code/PoP/pop-8/pop-8-1/obj/Debug/net8.0/pop-8-1.AssemblyInfo.fs
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/src/obj/Debug/net8.0/HOF.AssemblyInfo.fs
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfo.fs
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfo.fs
