
PoP/assignment3/src/asteroids/bin/Debug/net8.0/asteroids.dll
PoP/assignment3/src/asteroids/bin/Debug/net8.0/asteroids.pdb
PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.AssemblyInfo.fs
PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.AssemblyInfoInputs.cache
PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.assets.cache
PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.dll
PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.genruntimeconfig.cache
PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.pdb
PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.sourcelink.json
PoP/assignment3/src/asteroids/obj/Debug/net8.0/ref/asteroids.dll
PoP/assignment3/src/asteroids/obj/Debug/net8.0/refint/asteroids.dll
PoP/assignment3/src/bin/Debug/net8.0/asteroids.dll
PoP/assignment3/src/bin/Debug/net8.0/asteroids.pdb
PoP/assignment3/src/bin/Debug/net8.0/mothApp.dll
PoP/assignment3/src/bin/Debug/net8.0/mothApp.exe
PoP/assignment3/src/bin/Debug/net8.0/mothApp.pdb
PoP/assignment3/src/obj/Debug/net8.0/apphost.exe
PoP/assignment3/src/obj/Debug/net8.0/mothApp.AssemblyInfo.fs
PoP/assignment3/src/obj/Debug/net8.0/mothApp.AssemblyInfoInputs.cache
PoP/assignment3/src/obj/Debug/net8.0/mothApp.assets.cache
PoP/assignment3/src/obj/Debug/net8.0/mothApp.dll
PoP/assignment3/src/obj/Debug/net8.0/mothApp.fsproj.AssemblyReference.cache
PoP/assignment3/src/obj/Debug/net8.0/mothApp.genruntimeconfig.cache
PoP/assignment3/src/obj/Debug/net8.0/mothApp.pdb
PoP/assignment3/src/obj/Debug/net8.0/mothApp.sourcelink.json
PoP/assignment3/src/obj/Debug/net8.0/ref/mothApp.dll
PoP/assignment3/src/obj/Debug/net8.0/refint/mothApp.dll
PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfo.fs
PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfoInputs.cache
PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfo.fs
PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-7/pop-7-1/obj/Debug/net8.0/modules.AssemblyInfo.fs
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfoInputs.cache
VS-Code/PoP/pop-6/src/obj/Debug/net6.0/modules.AssemblyInfo.fs
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/refint/mothApp.dll
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/ref/mothApp.dll
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.sourcelink.json
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.pdb
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.fsproj.AssemblyReference.cache
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.dll
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.AssemblyInfoInputs.cache
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/mothApp.AssemblyInfo.fs
VS-Code/PoP/assignment3/src/obj/Debug/net8.0/apphost.exe
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/mothApp.pdb
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/mothApp.exe
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/mothApp.dll
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/asteroids.pdb
VS-Code/PoP/assignment3/src/bin/Debug/net8.0/asteroids.dll
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/refint/asteroids.dll
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/ref/asteroids.dll
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.sourcelink.json
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.pdb
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.dll
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.AssemblyInfoInputs.cache
VS-Code/PoP/assignment3/src/asteroids/obj/Debug/net8.0/asteroids.AssemblyInfo.fs
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/asteroids.pdb
VS-Code/PoP/assignment3/src/asteroids/bin/Debug/net8.0/asteroids.dll
VS-Code/Side-Projects/Tabular-deep-learning/TrainingData/stockData.csv
VS-Code/Side-Projects/Tabular-deep-learning/TrainingData/stockData.csv

.fake
gdsProjekt
